<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Painel de Controle</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="tema">
    <h1 id="txt_titulo">Painel de Controle</h1>
    
    <nav class="menu_admin">
        <ul class="menu_admin1">
            <li> Usuarios 
                <ul class="submenu">
                    <li><a th:href="@{/users/new}">Novo usuário</a></li>
                    <li><a th:href="@{/users}">Listar usuários</a></li>
                </ul>
            </li>

            <li> Produtos 
                <ul class="submenu">
                    <li>Novo produto</li>
                    <li>Listar produto</li>
                </ul>
            </li>


        </ul>
    </nav>

    
    
</body>
</html>
